/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: black;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: black;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: black;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color:#2a2a2a;
}

/* ---------------------------------------------------
   services STYLE
----------------------------------------------------- */
.services{
p{
  color:#464748;
}
  h2{
    padding-bottom: 60px;
  }
  #accordion{
    a{
      color:$white;
      font-size: 18px;
      font-family:$poppins;
      font-style:normal;
      font-weight: $semi-bold;
      line-height: 1.8;
    }
    .accordion-body{
      p{
        margin-left: 40px;
      }
    }
  }
  a[data-toggle="collapse"] {
    background-color: transparent;
  }

  .accordion-title > a:before {
    font-family: FontAwesome;
    content: '-';
    float:left;
    border:1px solid #464748;
    border-radius: 50%;
    width:25px;
    height:25px;
    margin-right: 18px;
    text-align: center;
  }
  .accordion-title > a.collapsed:before {
    content: '+';
    float: left;
  }
}

/* ==========================================================================
  > start contact-section
  ========================================================================== */
.contact{
  .form-control{
   margin-top: 30px;
    background-color: $transparent;
    border-top:none;
    border-right:none;
    border-left:none;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $white !important;
}

/* ==========================================================================
  > start portfolio section
  ========================================================================== */
.portfolio{
  h2{
    padding:0px 0px 70px 0px;
  }
  .card{
    border:none;
    background-color: $transparent;
    h4{
      margin-top: 30px;
    }
  }
}

/* ==========================================================================
  >  start about
  ========================================================================== */
.about{
  p{
    color:#464748;
  }
  .call-me-btn{
    @include btn($transparent, $black, 0px, $poppins, $semi-bold, auto, $dark-yellow, $dark-yellow, $white, #FFEF44);
    margin: 100px auto 0 auto;
    padding: 12px 44px 12px 44px;
    font-size: 30px;
    display: inline-block;
    border:2px solid #464748;
  }
}