

.wrapper.toggled #sidebar {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    .wrapper.toggled #sidebar {
        margin-left: -15rem;
    }
}
.slick-dots li button {
    color: red;
    background-color: #1c7430;
    width: 5px;
    height:5px;
    border-radius: 50%;
}
.slick-next, .slick-prev{
    visibility: hidden;
}